

<!--about me.-->
    <!--- branding statement-->
    <!--- short personal history re data, coding-->
    <!--- why i love what i do-->
<!--link to github, linkedIn, pdf of resume-->
<!--contact e-mail-->

<div style="margin-left:5%; margin-right:5%">
<h4 style="font-size:2rem">About Me</h4>

<h6><b>Data Scientist. Data Visualization Architect.</b></h6>

<p><em>"I went from one nerd to a different kind of nerd."</em></p>

<p>I am a skilled Data Scientist who can integrate modern web technologies to enhance Data Visualization capabilities. I have experience in programming for data collection, maintenance, analyses, and visualization as well as front-end web development. I'm able to work within a team or independently. And I always strive to bring out the best in colleagues through collaboration, communication, kindness, empathy, and approachability. Oh, and last but not least, I am perpetually hungry to create and continue learning!</p>

<p>I am proficient in SAS, SQL, HTML, CSS, Javascript, JQuery, Node.js/Express.js/Angular.js, Ruby and Rails, and Sinatra. I have survey design, implementation, collection, analytic, and presentation experience. I also have statistics and data visualization experience as an analyst and manager.</p>

<h6>Specialties</h6>

  <ul class="disc">
    <li>Data visualization and presentation</li>
    <li>Data collection, cleaning, and management</li>
    <li>Quantitative and qualitative research methodologies and analytics</li>
    <li>Front-end web development and programming</li>
  </ul>
</div>

<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script>-->
    <!--$(document).foundation();-->
<!--</script>-->
