

<!--about me.-->
    <!--- branding statement-->
    <!--- short personal history re data, coding-->
    <!--- why i love what i do-->
<!--link to github, linkedIn, pdf of resume-->
<!--contact e-mail-->

<div style="margin-left:5%; margin-right:5%">
<h4 style="font-size:2rem">About Me</h4>

<p><em>"I went from one nerd to a different kind of nerd."</em></p>

<p>I am a skilled Data Scientist turned Full-Stack Web Developer with experience in programming for web development and data maintenance and analyses. I'm able to work as a team member or independently. I always strive to be my best self and to bring out the best in colleagues through team-work, open communication, kindness, empathy, and approachability no matter the situation. I'm perpetually hungry to create, continue learning, and be the best programmer possible!</p>

<p>I am proficient in HTML, CSS, Javascript, JQuery, Node.js/Express.js/Angular.js, Ruby and Rails, Sinatra and SQL. I have survey design, implementation, collection, analytic, and presentation experience. I also have statistics and data visualization experience as an analyst and manager.</p>

<h6>Specialties</h6>

  <ul class="disc">
    <li>Web development and programming</li>
    <li>Data visualization and presentation</li>
    <li>Quantitative and qualitative research methodologies</li>
    <li>Quantitative and qualitative analytics</li>
    <li>Database creation and data management</li>
    <li>Survey research design, implementation, data collection and management, and research results presentation</li>
  </ul>
</div>

<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script>-->
    <!--$(document).foundation();-->
<!--</script>-->
