

<!--about me.-->
    <!--- branding statement-->
    <!--- short personal history re data, coding-->
    <!--- why i love what i do-->
<!--link to github, linkedIn, pdf of resume-->
<!--contact e-mail-->

<h3>about me page</h3>


<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script>-->
    <!--$(document).foundation();-->
<!--</script>-->
