<div style="margin-left:5%; margin-right:5%">

	<h4>Causes and Charities I Support</h4>

	<br>

	<h6><a href="http://harmonyfund.org/">The Harmony Fund</a></h6>

	<img class="responsive-img" src="../images/harmony-fund.png">

	<p>The Harmony Fund offers a lifeline to so called “underdog” animal rescue squads across the planet. The Harmony Fund's partners are the small but incredibly courageous and effective animal rescue teams who operate in parts of the world where funding is very hard to come by. Supporters help to dramatically impact the capacity of these rescue teams to touch thousands upon thousands of animals who might otherwise be unreachable.</p>

	<p>Gratitude and respect are at the cornerstone of The Harmony Fund's relationship with supporters. The Harmony Fund does not expose supporters to graphic photos of animal suffering or distribute dire forecasts about animal suffering. Instead they focus on a spirit of joy and determination in pursuit of essential operations to provide food, veterinary medicine, shelter and protection from cruelty for animals worldwide.</p>

	<br>

	<h6><a href="https://www.aspca.org/">ASPCA</a></h6>

	<img class="responsive-img" src="../images/aspca.png">

	<p>The American Society for the Prevention of Cruelty to Animals® (ASPCA®) was the first humane society to be established in North America and is, today, one of the largest in the world.</p>

	<p>The organization was founded on the belief that animals are entitled to kind and respectful treatment at the hands of humans and must be protected under the law. Headquartered in New York City, the ASPCA maintains a strong local presence, and with programs that extend their anti-cruelty mission across the country, the ASPCA is recognized as a national animal welfare organization. The ASPCA is a privately funded 501(c)(3) not-for-profit corporation, and is proud to boast more than 2 million supporters across the country.</p>

	<p>The ASPCA’s mission, as stated by founder Henry Bergh in 1866, is “to provide effective means for the prevention of cruelty to animals throughout the United States.”</p>

</div>