{{!-- <a href="https://www.linkedin.com/in/jennifer-brown-b960b737/">
    <img class="responsive-img" src="../svg/fi-social-linkedin.svg">
</a>


<a href="https://github.com/jabrown5/">
    <img class="responsive-img" src="../svg/fi-social-github.svg">
</a> --}}

<div style="margin-left:5%; margin-right:5%">

	<h4 style="font-size:2rem">Connect With Me:</h4>

	<p style="font-size:1.2rem">
		<a href="https://github.com/jabrown5"><i class="fi-social-github"></i> Github</a>
	</p>

	<p style="font-size:1.2rem">
		<a href="https://www.linkedin.com/in/jennifer-brown-b960b737/"><i class="fi-social-linkedin"></i> Linked In</a>
	</p>

{{!-- 	<p style="font-size:1.2rem">
		<a href="#"><i class="fi-mail"></i> Message Me</a>
	</p> --}}


{{!-- <form action="//flipmail.co/api/0Ubs8LNBAga7CGO3q35o" method="post">
   <input type="text" name="name">
   <input type="email" name="email">
   <textarea name="message"></textarea>
   <button type="submit">Submit Form</button>
</form> --}}



<p style="font-size:1.2rem">
	Message Me Below
</p>

<form action="//flipmail.co/api/0Ubs8LNBAga7CGO3q35o" method="post">
  <div data-abide-error class="alert callout" style="display: none;">
    <p><i class="fi-alert"></i> There are some errors in your form.</p>
  </div>

  <div class="row">

    <div class="small-12 columns">
      <label>Name
        <input name="name" id="name"  type="text" placeholder="Please enter your name" aria-describedby="exampleHelpText" required >
        <span class="form-error">
          Required!
        </span>
      </label>
    </div>

    <div class="small-12 columns">
      <label>E-Mail Address
        <input name="email" id="email"  type="text" placeholder="Please enter your e-mail address" aria-describedby="exampleHelpTex" required >
        <span class="form-error">
          Required!
        </span>
      </label>
    </div>

    <div class="small-12 columns">
      <label>Comments
        <input name="comments" id="comments"  type="text" placeholder="Comments...." aria-describedby="exampleHelpText" required >
        <span class="form-error">
          Required!
        </span>
      </label>
    </div>

  <div class="row">
    <fieldset class="large-6 columns">
      <button class="button" type="submit" value="Submit">Submit</button>
    </fieldset>
    <fieldset class="large-6 columns">
      <button class="button" type="reset" value="Reset">Reset</button>
    </fieldset>
  </div>
</form>	


</div>




<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script>-->
    <!--$(document).foundation();-->
<!--</script>-->
