<h4>Connect With Me:</h4>


{{!-- <a href="https://www.linkedin.com/in/jennifer-brown-b960b737/">
    <img class="responsive-img" src="../svg/fi-social-linkedin.svg">
</a>


<a href="https://github.com/jabrown5/">
    <img class="responsive-img" src="../svg/fi-social-github.svg">
</a> --}}

<p>
	<a href="https://github.com/jabrown5"><i class="fi-social-github"></i> Github</a>
</p>

<p>
	<a href="https://www.linkedin.com/in/jennifer-brown-b960b737/"><i class="fi-social-linkedin"></i> Linked In</a>
</p>

<p>
	<a href="#"><i class="fi-mail"></i> Message Me</a>
</p>

<p>e-mail: jabrown5@gmail.com </p>



<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<!--<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>-->
<!--<script>-->
    <!--$(document).foundation();-->
<!--</script>-->
