<div style="margin-left:5%; margin-right:5%">


    <h4><b>General Assembly's Job Fair: Favorite Chicago Sports Team of Those Visiting my Booth</b></h4>

    <br>


    <h5><b>Introduction</b></h5>
    <p>The purpose of this project was to have a fun, interactive survey that job-seeking General Assembly Alums and Hiring Managers or Recruiters from local companies could participate in.  I asked people who stopped by my booth to take a two-question survey about why they're at the job fair and who their favorite Chicago sports team is.  People like all the local teams but, as it turns out, people <em>really</em> like the Cubs! </p>



    <h5><b>Methodology and Data</b></h5>

    <p>This section will discuss the short survey and resulting data set, how the data was analysed, and limitations to the data.</p>


    <h6><b><em>GA Job Fair Data</em></b></h6>

    <p>The data for this project was collected using a two-question survey that I developed.  The questions included "What’s your favorite Chicago Sports Team?" with choices including the Cubs, White Sox, Bulls, Bears, Blackhawks, Fire, and Other which then asked for respondents to write in a response.  The following question was "In what capacity are you here?" to get at why the person was attending the job fair.  Responses categories included Hiring Manager / Recruiter, Job Seeking General Assembly Alum, and Other which then asked respondents to fill in their answer.

    <p>The goal of this project was to engage with people stopping by to chat with me about me, my skills, them and any opportunities with their companies or firms.  Most importantly, I wanted everyone to have fun!</p>



    <h6><em>Cleaning and Compiling</em></h6>

    <p>A total of 20 surveys were completed by job-seeking General Assembly alumns, hiring managers and recruiters, and one person classified as "other".  Respondendents completed their confidential surveys via pencil and paper and submitted their surveys anonymously.  The data was then entered into an Excel spreadsheet and double checked for accuracy.</p>


    <h6><em>Limitations</em></h6>

    <p>It is important to note that these data only consist of individuals who stopped by my booth.  Conclusions should not be drawn using these data and findings to all who attended the job-fair as the sample was not scientific or random.  A selection effect of who stopped at my booth could have been at work.</p>



    <h6><em>Methods</em></h6>
    <p>Descriptive results are the primary focus of this study.  Using Tableau Public, basic descriptives including the number of booth visitors, their role in the job fair, and their favorite Chicago sports team were were found and are illustrated below.</p>




    <h5><b>Findings</b></h5>


    <h6><b><em>Attendee Role</em></b></h6>

    <p>The first descriptive (see below) shows in what capacity visitors to my booth were attending.  14 were attending in a Recruiter or Hiring Manager capacity, five were General Assembly alums attending as job-seekers, while one was a General Assembly employee.</p>

<br>


        <div class='tableauPlaceholder' id='viz1486156911967' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='GAJobFair-Feb22017&#47;Sheet1' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object>
        </div>                
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1486156911967');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>


<br>


    <h6><b><em>Which Team is Tops?</em></b></h6>

    <p>Looking at the bar chart below, every team received at least one vote except for the Fire which is Chicago's professional soccer team.  The Cubs took the lead with eight votes while the Bulls had half as many with four.  The Blackhawks and White Sox both had three while the Bears recorded just one. There was also one "other" selection by a booth attendee who just couldn't decide who their favorite team was.</p>


<br>

        <div class='tableauPlaceholder' id='viz1486156975303' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='GAJobFair-Feb22017&#47;Sheet2' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet2&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object>
        </div>                
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1486156975303');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>


<br>


    <h6><b><em>Favorite Teams and the Role of the Attendee</em></b></h6>
    <p>The majority of people visiting my booth attended in a Hiring Manager or Recruiter capacity.  Following the overall trend, the Cubs were the most popular with six vote and the Bulls were second with three votes.  Rounding out the rest, the Blackhawks and White Sox both had two votes and the Bears finished with just one vote.</p>

    <p>Of the GA alums and employees, two preferred the Cubs while the White Sox, Bulls, and Blackshawks each logged one.</p>

<br>

        <div class='tableauPlaceholder' id='viz1486157094868' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='GAJobFair-Feb22017&#47;Sheet3' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;GA&#47;GAJobFair-Feb22017&#47;Sheet3&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object>
        </div>                
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1486157094868');
            var vizElement = divElement.getElementsByTagName('object')[0];
            vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>

<br>



    <h5><b>Conclusions</b></h5>

    <p>In sum, the descriptive analyses show diversity of sports team fandom.  Most people tend to like the Cubs the best and all but the Chicago Fire received at least one vote.</p>



    <h5><b>Next Steps</b></h5>

    <p>This project was mostly geared toward having a bit of fun during a sometimes stressful situation.  I hope everyone who took the survey had a little bit of fun, too!  But these findings did actually get the gears going; how do the very small, select group of people who stopped to talk with me compare to other Chicagoans?  Are the Cubs as popular among a wider sample?  Are the Fire reallly so unpopular?  Maybe another look should be had!</p>


</div>