<div style="margin-left:5%; margin-right:5%">

	<h4><b>The Good Cat Game</b></h4>

	<h6><em>Summary</em></h6>

	<p>I wanted to simulate a day in the life of a cat by allowing users to interact with an environment. I have an image of a living room and users can click on various objects in the room. They are then presented with some options with how to interact with that object. Depending on the option users choose, they get points and, at the end of eight turns, get a point total for their day. At the end of the day, they were a very good cat or a bad cat!</p>
	
	<h6><em>Tools used</em></h6>
	<ul>
		<li>HTML, CSS, <a href="http://getskeleton.com/">Skeleton CSS</a></li>
		<li>Javascript</li>
	</ul>

	<h6><em>Find this code on Git Hub!</em></h6>
	<ul>
		<li><a href="https://github.com/jabrown5/GoodCatGame">https://github.com/jabrown5/GoodCatGame</a></li>  
	</ul>

	<h6><em>Play the game at: </em></h6>
	<ul>
		<li><a href="https://jabrown5.github.io/Project1/index.html">https://jabrown5.github.io/Project1/index.html</a></li>
	</ul>

	<br>

	<img class="responsive-img" src="../images/good-cat.png">

</div>