{{!--           <div class="row small-up-1 medium-up-2 large-up-3">
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
              <h5>My Site</h5>
            </div>
            <div class="column">
              <img class="thumbnail" src="http://placehold.it/550x550">
              <h5>My Site</h5>
            </div>

          </div> --}}



{{!-- <div class="responsive-slick">
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <h5>My Site</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <h5>My Site</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <h5>My Site</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <h5>My Site</h5>
    </div>
    <div class="column">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <h5>My Site</h5>
    </div>
</div> --}}





{{!-- IMAGE CAROUSEL: http://kenwheeler.github.io/slick/ --}}
{{!-- <h3 style="margin-left:5%; margin-top5%">Data Visualizations</h4>
<div class="slider">
    <div class="column slide content_img">
      <a href="/nfl-arrests"><img class="thumbnail" src="../images/intro-nfl-arrests.png"></a>
      <a href="/nfl-arrests"><div>Image 1 Text</div></a>

    </div>

    <div class="column slide content_img">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <div>Image 1 Text</div>
    </div>

    <div class="column slide content_img">
      <img class="thumbnail" src="http://placehold.it/550x550">
      <div>Image 1 Text</div>
    </div>

    <div class="column slide">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </div>
    <div class="column slide">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </div>
</div>

<h3 style="margin-left:5%; margin-top:5%">Design and Other Coding Work</h4>
<div class="slider">
    <div class="column slide content_img">
      <a href="/good-cat"><img class="thumbnail" src="../images/intro-good-cat.png"></a>
      <a href="/good-cat"><div>Image 1 Text</div></a>

    </div>

    <div class="column slide content_img">
      <a href="/question-game"><img class="thumbnail" src="../images/intro-animal-questions.png"></a>
      <a href="/question-game"><div>Image 1 Text</div></a>

    </div>

    <div class="column slide content_img">
      <a href="/potty-check"><img class="thumbnail" src="../images/intro-potty-check.png"></a>
      <a href="/potty-check"><div>Image 1 Text</div></a>
    </div>

    <div class="column slide">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </div>

    <div class="column slide">
      <img class="thumbnail" src="http://placehold.it/550x550">
    </div>
</div> --}}




<h3 style="margin-left:5%; margin-top5%">Data Visualizations and Other Coding Work</h4>

<div class="slider">

    <div class="column slide content_img">
      <a style="width:auto; height:500px" href="/nfl-arrests"><img class="thumbnail" src="../images/intro-nfl-arrests.png"></a>
      <a href="/nfl-arrests">
        <div>

          <h5><b>Arrests in the NFL: 2001 - 2016</b></h5>
          <br>
          <p>See some basic descriptive statistics about arrests in the NFL from 2001 to 2016.</p>
        </div>

      </a>
    </div>
    
    <div class="column slide content_img">
      <a style="width:auto; height:500px" href="/good-cat"><img class="thumbnail" src="../images/intro-good-cat.png"></a>
      <a href="/good-cat">
        <div>
          <h5><b>Who's a Good Cat</b></h5>
          <br>
          <p>Play a quick Javascript based game to see if you have what it takes to be a good cat!</p>
        </div>
      </a>
    </div>

    <div class="column slide content_img">
      <a style="width:auto; height:500px" href="/potty-check"><img class="thumbnail" src="../images/intro-potty-check.png"></a>

      <a href="/potty-check">
        <div>
          <h5><b>Potty Check</b></h5>
          <br>
          <p>Out and about and nature calls? Find the nearest available restroom with this app!</p>
        </div>
      </a>
    </div>

    <div class="column slide content_img">
      <a style="width:auto; height:500px" href="/question-game"><img class="thumbnail" src="../images/intro-animal-questions.png"></a>

      <a href="/question-game">
        <div>
          <h5><b>The Animal Question Game</b></h5>
          <br>
          <p>Test your basic knowledge of nature with this quick quiz</p>
        </div>
      </a>
    </div>

</div>
