{{!-- ---
title: "NFL Arrest data: 2001-2016"
date: 2016-12-15
blurb: My first exercise in learning D3 was to visualize the arrests of NFL players by offense, team, and time.  I used publicly available data housed at http://nflarrest.com/api/.
thumbnail: "../images/nfl-arrests-thumb.png"

--- --}}

<style>
    .bar{
        fill: steelblue;
    }
    .bar:hover{
        fill: brown;
    }
    .axis {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    .axis--x path {
        display: none;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
</style>


<div style="margin-left:5%; margin-right:5%">


    <h4><b>NFL Arrest Data: 2001 - 2016</b></h4>

    <h6><em>Summary</em></h6>

    <p>After coming across a publically available API containing arrest data of NFL players from January 31, 2001 to January 31, 2016, I was interested in looking at these data just for fun! </p>

    <p>The data show that DUI or Driving Under the Influence is the most common offense for arrest.  The NFL franchise with the most arrests was the  Minnesota Vikings with player Mryant McKinnie leading the Vikings with the most arrests</p>

    <h6><em>Tools used</em></h6>
    <ul>
        <li>HTML, CSS</li>
        <li>D3.js</li>
    </ul>

    <h6><em>Find the original source data</em></h6>
    <ul>
        <li><a href="http://nflarrest.com/api/">http://nflarrest.com/api/</a></li>  
    </ul>

    <br>



<div id="viz1"></div>

<div id="viz2"></div>

<div id="viz3"></div>

<div id="viz4"></div>


    <h6><em>Caveats</em></h6>

    <p>Please remember that this is only arrest data and should not be considered the definitive word on criminal activity among NFL players. It is possible that an arrest never resulted in any charges.  Additionally, some criminal activity is undetected so some crimes or players may go unreported.</p>

</div>


<script src="https://d3js.org/d3.v3.js"></script>
<script type="text/javascript" src="../javascripts/app.js"></script>
