<div style="margin-left:5%; margin-right:5%">

	<h4><b>Potty Check: Finding a Toilet Near You!</b></h4>

	<h6><em>Summary</em></h6>

	<p>This was a group project developed during the course of General Assembly's Web Development Immersive.  The team was very interested in creating a tool that had practical application to daily life.  The goal was to provide an application with which individuals could locate accessible restrooms and address nature's call as soon as possible</p>

	<p>Users are also allowed to add restrooms to the database and also rate these restrooms on a number of points such as whether the restroom is publicly accessible, how clean it is, and whether family facilities exist to help with little ones.</p>

	<h6><em>Tools used</em></h6>
	<ul>
		<li>HTML, CSS, <a href="http://materializecss.com/">Materialize CSS</a></li>
		<li>Javascript, JQuery, Express.js, Node.js</li>
		<li>Ruby, Sinatra</li>
		<li>Google Maps API</li>
		<li>Teamwork!!</li>
	</ul>



	<h6><em>Find this code on Git Hub!</em></h6>
	<ul>
		<li><a href="https://github.com/jabrown5/Project3-frontend">The Client Side</a></li>  
		<li><a href="https://github.com/jabrown5/Project3-Backend">The Server Side</a></li>  
	</ul>

	<h6><em>See the client side live online at: </em></h6>
	<ul>
		<li><a href="https://potty-check.herokuapp.com/">https://potty-check.herokuapp.com/</a></li>
		<li>***Please note that since this was a student project, the server side may no longer be working at this point.</li>
	</ul>
	<br>

	<a href="https://potty-check.herokuapp.com/">
	<img class="responsive-img" src="../images/potty-check.png">
	</a>

</div>
