<div style="margin-left:5%; margin-right:5%">

	<h4><b>The Question Game</b></h4>

	<h6><em>Summary</em></h6>

	<p>This was a duo project geared toward allowing us to use basic Javascript skills. My team member and I wanted to make a very brief game - which we'd like to expand on - to facilitate knowledge of the animal kingdom. This game is geared toward educators teaching at the pre-middle school level. It allows flagging of correct and incorrect answers and score keeping.</p>

	<h6><em>Tools used</em></h6>
	<ul>
		<li>HTML, CSS, <a href="http://getskeleton.com/">Skeleton CSS</a></li>
		<li>Javascript</li>
		<li>Teamwork!</li>
	</ul>

	<h6><em>Find this code on Git Hub!</em></h6>
	<ul>
		<li><a href="https://github.com/jabrown5/jabrown5.github.io/tree/master/mini">https://github.com/jabrown5/jabrown5.github.io/tree/master/mini</a></li>  
	</ul>

	<h6><em>Play the game at: </em></h6>
	<ul>
		<li><a href="https://jabrown5.github.io/mini/index.html">https://jabrown5.github.io/mini/index.html</a></li>
	</ul>

	<br>

	<img class="responsive-img" src="../images/animal-questions.png">

</div>